// Specific CSS for your home-page
.landing-search {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 25px;
  // background: url(https://d1uhlocgth3qyq.cloudfront.net/blob___1BqZB.svg) 74% -170px / 995px no-repeat rgb(243, 243, 244);
}

#landing-page {
  background-color: #006565;
}

.title {
  color: white;
  font-size: 36px;
  line-height: 50px;
  max-width: 300px;
}


.title-wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
  text-align: left;
}

.flex-search {
  text-align: center;
}

.search-form-control {
  width: 80%;
  display: inline-block;
  padding-top: 20px;
}

.form-control {
  margin-bottom: 10px;
  box-shadow: 0 4px 13px 0 rgba(0,0,0,.13);
  border: none;
  background-clip: padding-box;
}

.banner {
  background-image: url('bgdark.png');
  background-size: cover;
  background-position: center;
  width: max-content;
}

.distance-wrapper {
  text-align: left;
  color: #006565;
}

.rd-wrapper {
  display: flex;
  justify-content: center;
  color: #006565;
}
