// Specific CSS for your home-page
body {
  background-color: #FEFDFD;
}


.landing-search {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 25px;
  // background: url(https://d1uhlocgth3qyq.cloudfront.net/blob___1BqZB.svg) 74% -170px / 995px no-repeat rgb(243, 243, 244);
}

#landing-page {
  background-color: #006565;
  height: 60px;
  padding: 10px;
}

.title {
  color: white;
  font-weight: bolder;
  font-size: 36px;
  line-height: 50px;
  max-width: 300px;
}


.title-wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
  text-align: left;
}

.flex-search {
  text-align: center;
}

.search-form-control {
  width: 80%;
  margin: 0 auto;
  display: block;

  #address-input, #specialties {
    height: 60px;
    margin: 15px 0;
  }
}

.banner {
  background-image: asset-url('newbg.svg');
  background-size: cover;
  background-position: center;
}

// .distance-wrapper {
//   text-align: left;
//   color: #006565;
// }

// .rd-wrapper {
//   display: flex;
//   justify-content: center;
//   color: #006565;
// }
