.container-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-item {
  align-items: center;

}

.flex-row {
  flex-direction: row;
}

#doc-image {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  object-fit: cover;
}

.mapboxgl-ctrl-geocoder--pin-right {
  display: none;
}

.idx-instruction {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #006565;
  background-color: rgba(0,101,101,.03);
  margin-block-end: 0;
}

.ext-link {
  opacity: 0;
}

.ext-link:hover {
  opacity: 1;
}

#map-cont {
  // position: relative;
}
