.container-flex {
  display: flex;

}

.flex-direction-column {
  flex-direction: column;
}

.flex-item {
  align-items: center;

}

.flex-row {
  flex-direction: row;
}

#doctor-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
