<div class="footer">
  <div class="footer-links">
    <%= image_tag "logo", alt: "logo", width: "25px" %>
    <p>InstantDoc</p>
    <!-- <i class="far fa-copyright"></i> -->
    <i class="fas fa-heart"></i>
  </div>
</div>
