<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['pk.eyJ1IjoiYW5uYXNpcmVnYXIiLCJhIjoiY2s3ZDhhdnh0MDdkYjNtbzQyc2xsMXg1cyJ9.1gBSItTIDYygVfZcXoCrpA'] %>"
></div>
