#notif-show {
  width: 92vw;
}

.appointment-pop {
  padding: 8px;
  color: #006565;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 101, 101, 0.4);
}

.confirm-pop {
  padding: 12px;
  text-align: center;
}

#pop-title {
  text-align: center;
  font-size: 28px !important;
  font-weight: bold;
  padding-top: 10px;
}

.btn-yellow {
  background-color: $our-green;
  width: 95%;
  height: 55px;
  color: #FEFDFD;
  border: none;
  font-weight: bold;
  font-size: 20px;
  border-radius: 16px;
  box-shadow: 0 1.2px 1px 0 rgba(0, 0, 0, 0.2);
}

#notif-timer {
  color: #006565;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

.cancel-green {
  color: #006565;
  font-size: 18px;
  border: none !important;
  background-color: none !important;
}

.pop-schedule {
  padding: 15px;
  color: #454747;
  font-size: 18px;
}

.doc-pop {
  padding: 12px;
  border-bottom: 1px solid rgba(0, 101, 101, 0.4);
}

#ter-title {
  color: #006565;
  font-size: 20px !important;
  font-weight: bold;
  text-align: left !important;
  padding-top: 10px;
}

#notif-doc-card {
  border-bottom: none;
  background-color: #FEFDFD;
}

#notif-doc-info {
  font-size: 18px;
  color: #454747;
  font-weight: bold;
}


