<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="landing-search">
          <div class="flex-search">
            <h2 class="title">Secure doctor appointments today</h2>
            <form action="/doctors" accept-charset="UTF-8" method="post" class="search-form-control">
                <input type="text" name="query" id="query" class="form-control" placeholder="Insert doctor's specialty">
                <input type="text" name="query" id="query" class="form-control" placeholder="Insert your location">
                <input type="submit" name="commit" value="Find" class="btn btn-primary mt-3">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
