<div class="container" id="search">
  <h2 class="blue-bar" id="welcome-bar">My searches</h2>
  <div id="search-list">
    <% current_user.searches.each do |search| %>
      <div class="card-doc" id="search">
        <div class="header-card">My <%= search.specialty.name %> search</div>
        <div class="flex-card" id="flex-search">
          <div class="card-doc-info">
            <p>Location: <%= search.location %></p>
            <p>Radius: <%= search.radius %></p>
          </div>
          <div style="display: flex; inline; justify-content: space-between;">
            <%= link_to "delete", search_path(search), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-flat" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
