<!-- <h2 class="blue-bar" id="welcome-bar">My searches</h2> -->
<p class="idx-instruction"><i class="fas fa-info-circle"></i> You will get notified by SMS as soon as your doctor is available</p>
<div class="container-search" id="search notif-show">
  <h2 style="font-size: 25px;  font-weight: bold; color: #006565">My Queue</h2>
  <% current_user.searches.each do |search| %>
    <div class="card-doc" id="search">
      <div style="font-weight: bold">
        <h4><%= search.specialty.name %> near <%= search.location %></h4>
      </div>
      <!-- <div class="flex-card" id="flex-search"> -->
        <div class="card-doc-info p-0">
          <p><i class="fas fa-map-marked-alt"></i> Within <%= search.radius != 0 ? search.radius : "5" %> km</p>
        </div>
        <div class="text-right">
          <%= link_to "Cancel", search_path(search), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-flat btn-ter-small" %>
        </div>
      <!-- </div> -->
    </div>
  <% end %>
</div>
