// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "container";
@import "button";

.idx-instruction {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #006565;
  background-color: #ABD1C6
}
