.navbar-lewagon {
  justify-content: space-between;
  background:  #F3AE3B;
  position: sticky;
  top: 0;
}

.avatar {
  padding-left: 5px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarSupportedContent {
  display: block !important;
  left: 0;
}

.nav-link {
  color: #272343;
}

#toggle-map {
  height: 50px;
}

#toggle-map > span {
  padding-top: 5px;
  width: 40px;
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  max-width: 250px;
}

.navbar-expand .navbar-nav .dropdown-menu {
  z-index: 1000;
}

#toggle-map > span {
}

#toggle-map.show-map-text > .span-map {
  display: inherit;
}

#toggle-map.show-list-text > .span-list {
  display: inherit;
}

#map {
  z-index: -5;
}
