.navbar-lewagon {
  justify-content: space-between;
  background:  #006565;
  position: sticky;
  top: 0;
}

#general-page {
  background-color: #F3AE3B;
}

.avatar {
  padding: 5px;
  border-radius: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarSupportedContent {
  display: block !important;
  left: 0;
  height: fit-content;
}

.nav-link {
  color: #006565;
}

#toggle-map {
  height: 50px;
}

#toggle-map > span {
  padding-top: 5px;
  width: 40px;
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  max-width: 250px;
  color: #006565 !important;
}

.navbar-expand .navbar-nav .dropdown-menu {
  z-index: 1000;
}

#toggle-map > span {
}

#toggle-map.show-map-text > .span-map {
  display: inherit;
  color: #F5BC5F;
  padding-left: 10px;
}

#toggle-map.show-list-text > .span-list {
  display: inherit;
  color: #F5BC5F;
  padding-left: 10px;
}

#map {
  z-index: -5;
  border-radius: 0;
  margin: 0;
}

.dropdown-item {
  color: #006565;
}
