.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 2px 0;
}

.card-product img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.blue-bar {
  background-color: #BAE8E8;
}

#welcome-bar {
   background-color: #F3AE3B;
   text-align: center;
   color:  #006565;
   font-weight: bold;
   font-size: 18px;
   padding-bottom: 5px;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;
}

.card-product .card-product-infos {
  padding: 0px;
}

.spaced-between {
  justify-content: spaced-between;

}
.flexing-container {
  display: flex;
  margin-left: 5%;
  margin-right: 10px;
}

#map {
  width: 30%;
  height: 90vh;
  position: sticky;
  top: 0;
  margin: 15px 0;
  border-radius: 20px;
}

.column-direction {
  flex-direction: column;
}
